<div class="calendar_form">
  <form action="/daily_report">
    <p>Date: <input type="text" name="date" id="datepicker" value= <%= session[:calendar_date]%> >
      <input type="submit" value="Set Date">
    </p>
  </form>
</div>